<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctt.course_catalog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_online_course__1_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_online_course__1_"
        android:supportsRtl="true"
        android:theme="@style/Theme.Course_Catalog">
        <activity android:name=".CourseActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>